{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content%}
    <div class="w-80 justify-content-center">
        <form method="POST" class="border m-4 p-4 ">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-success mt-2" type="submit">Sing In</button>
            </div>
        </form>
        <div class="mt-2">
            <p>Doesn't have an account? <a href="{% url 'register' %} " class="btn btn-sm btn-info">Sign Up</a></p>
        </div>
    </div>


{% endblock content %}