{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content%}
    <div class="w-80 justify-content-center">
        <form method="POST" class="border m-4 p-4 ">
            {% csrf_token %}
            <h4>Join today</h4>
            {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-info mt-2" type="submit">Sing up</button>
            </div>
        </form>
        <div class="mt-2">
            <p>Already have an account? <a href="{% url 'login' %}" class="btn btn-sm btn-success">Sign In</a></p>
        </div>
    </div>


{% endblock content %}